body {
    width: 100%;
    min-width: 1024px;
    position: relative;
}

::-webkit-scrollbar {
    display: none;
}

::-moz-scrollbar {
    display: none;
}

/*class样式*/

/*搜索框弹出*/
.panel {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
}

/*------------------header----------------*/
header {
    padding: 10px 0%;
    position: relative;
    background: #232321;
}
header #h_top{
    overflow: hidden;
    padding:0px 5%;
}
header #h_top>div {
    float: left;
}
/*header左边*/
/* header #h_login */
header #h_login {
    height: 80px;
    width: 20%;
}

#h_login {
    padding: 30px 0px;
}

#h_login .login {
    display: inline;
    font: 12px/1em "微软雅黑";
    position: relative;
    top: -10px;
}

#h_login .login a {
    color: #FFFFFF;
}

/*header中间*/
/* header #h_logo */
header #h_logo {
    width: 60%;
    height: 80px;
    text-align: center;
}

#h_logo h1 {
    display: none;
}

#h_logo img {
    height: 90%;
}

/*header最右边*/
/* header h_serach */
header #h_search {
    width: 20%;
    height: 80px;
    padding: 20px 0px;
    position: relative;
}

#h_search a {
    display: inline-block;
    width: 30%;
    position: relative;
    left: 100px;
}

/*搜索框*/
#h_search a:first-child img {
    height: 35px;
}

#h_search a:last-child img {
    height: 40px;
    width: 45px;
}

/*header下 ==>搜索按钮弹出框*/
.panel {
    z-index: 100;
    background: rgba(255, 255, 255, 0.95);
}

.panel>div {
    width: 80%;
    height: 60%;
    padding: 0px 20px;
    margin: 50px auto;
    text-align: center;
}

.panel>div img:first-child {
    width: 120px;
}

.panel .off {
    margin: 80px 10px 70px 10px;
    font: 30px/1em "Comic Sans MS";
    text-align: right;
    cursor: pointer
}

.panel .off span:hover {
    display: inline-block;
    transform: rotate(720deg);
    transition: 1.5s all;
}

.panel form {
    width: 100%;
    position: relative;
}

.panel form input[type=text] {
    width: 100%;
    height: 35px;
    border: none;
    border-bottom: 1px solid #C9C8C9;
    font: 16px/35px "微软雅黑";
    padding: 3px 5px;
    background: rgba(255, 255, 255, .0);
}

.panel form input[type=image] {
    height: 90%;
    position: absolute;
    top: 0px;
    right: 5px;
}

/*购物车.h_shop 鼠标悬停后展示的块*/
.h_shop {
    z-index: 100;
    display: none;
    width: 360px;
    height: 140px;
    border: 1px solid #C5CCCF;
    position: absolute;
    top: 100px;
    right: 7%;
    box-shadow: 0px 0px 1px #D0D0D0;
    background: #fff;
}
.h_shop dl {
    text-align: center;
    padding: 25px 0px;

}
.h_shop dl dt img {
    width: 55px;
}

.h_shop dl dd {
    font: 14px/2.5em "微软雅黑";
    color: #B6B6B6;
}
@keyframes dh-h3{
    0% {
        position: relative;
        top: -20px;
    }
    100% {
        position: relative;
        top: -50px;
    }
}

header #main_nav>ul>li ol {
    border-bottom: 2px solid #C4A66A;
    box-shadow: 0px 0px 2px #AAAAAA;
    width: 100%;
    text-align: center;
    padding: 15px 0% 15px;
    position: absolute;
    top: -15px;
    left: 0px;
    background: #fff;
    display: none;
}

header #main_nav>ul>li .nli {
    background: none;
    box-shadow: none;
    border: none;
}

header #main_nav>ul>li ol li h3 {
    font-size: 22px;
    color: #C4A66A;
    font-weight: normal;
    cursor: default;
    transform: translateY(55px);
}

header #main_nav>ul>li ol li h3 a {
    cursor: pointer;
    color: #C4A66A;
}

header #main_nav>ul>li ol li {
    line-height: 2.5em;
}

header #main_nav>ul>li ol li a:hover {
    color: #C4A66A;
}
/*#fixedTop 固定定位返回头部*/
#fixedTop{
    position:fixed;
    bottom:70px;
    right:2%;
    z-index:999;
    display:none;
}
#fixedTop div {
    width: 70px;
    height:70px;
    margin-left:40px;
    text-align:center;
} 
#fixedTop div  a{
    display:block;
    width: 100%;
    height:100%;
    background:#F5F5F6;
    font:40px/70px "黑体";
    color:#B6B6B7;
    transform: rotate(90deg);
}
#fixedTop div a:hover{
    background:#2D2D2B;
    color:#919191;
}


/*==================main=================*/
main{
    width: 100%;
    overflow: hidden;
}
main form{
    width: 400px;
    margin: 60px auto;
    font-size:14px;
}
main form #steps{
    overflow: hidden;
}
main form #steps li{
    float: left;
    text-align: center;
    font:12px/2em "微软雅黑";
    color:#999999;
}
main form #steps li span{
    display: inline-block;
    width: 24px;
    height: 24px;
    background: #FFFFFF;
    border-radius:50%;
    border:1px solid #D3D3D3;
    font:14px/24px "宋体";
    font-weight: bold;
}
main form #steps li img{
    width: 110px;
}
main form #steps li:nth-of-type(1){
    color:#33BB44;
}
main form #steps li:nth-of-type(1) span{
    color:#FFFFFF;
    background:#33BB44;
    border:none;
}
main form .input{
    width: 100%;
    height: 55px;
    line-height: 55px;
    background: none;
    border:none;
    margin-top:15px;
    display: inline-block;
}
main form .input:hover{
    border:1px solid #999;

}
/*常用手机号*/
main form #tel_input{
    border:1px solid #DDDDDD;
    position: relative;
}
main form #tel_input span{
    display: inline-block;
    border-right:1px solid #ddd;
    width: 25%;
    text-align: center;
    color:#929292;
}
main form #tel_input input{
    display: inline-block;
    border: none;
    width: 75%;
    height:100%;
    position: relative;
    top: -2px;
    /* border:1px solid #666666; */
    padding-left: 15px;
}
main form .no{
    font-style: normal;
    position: absolute;
    right:10px;
    font:20px/55px "微软雅黑";
    color:#DDDDDD;
    cursor: pointer;
    visibility: hidden;
}
/*手机号码输入时，显示的提示文字*/
main form .prompt{
    color:#C5C5C5;
    font:12px/1em "微软雅黑";
    visibility: hidden;
}
main form .prompt img{
    position: relative;
    top:5px;
    margin-right: 5px;
}
/*电话号码验证*/
main form #btn_val{
    border:1px solid #DDDDDD;
    cursor: pointer;
    text-align: center;
    color:#333333;
    font:14px/55px "微软雅黑";
    
}
main form .agree{
    margin-top: 20px;
    font:12px/2em "微软雅黑";
    color:#333333;
}
main form .agree input{
    width: 16px;
    height: 16px;
    border:none;
    background: #fff;
    border:1px solid #DDDDDD;
    position: relative;
    top: 4px;
    margin-right: 5px;
}
main form .agree a{
    color:#0066CC;

}
main form .agree a:hover{
    color:#C81623;
    text-decoration: underline;
}
/*下一步*/
main form #btn{
    background: #232321;
    color:#fff;
    font:16px/55px "微软雅黑";
    cursor: pointer;
}
/*=================footer=====================*/
footer{
    width: 100%;
    position: fixed;
    bottom: 0;
}
/*footer #foot-f最下*/
footer #foot-f{
    width: 100%;
    height: 90px;
    font:12px/90px "微软雅黑";
    background:#F5F5F5;
    padding: 0px 5%;
}
footer #foot-f ul{
    width: 100%;
    height: 90px;
    overflow: hidden;
}
footer #foot-f ul li{
    float: left;
    width: 33%;
    color:#999999;
    text-align: center;
}
footer #foot-f ul li img{
    position: relative;
    top:5px;
}
footer #foot-f ul li:nth-of-type(1){
    text-align: left;
}
footer #foot-f ul li:nth-of-type(2){
    position: relative;
    top:10px;
}
footer #foot-f ul li:nth-of-type(3){
    text-align: right;
}
footer #foot-f ul li a{
    color:#999;
}
footer #foot-f ul li a:hover{
    color:#000;
}



/*媒体查询*/
@media(max-width:1280px) {
    header #main_nav>ul>li {
        margin-left: 1.5%;
        transition: 1s all;
    }
    header #main_nav{
        padding: 25px 0% 25px 8%;
        transition: 1s all;
    }
    header #main_nav>ul>li>a {
        width: 120px;
        transition: 1s all;
    }
}