<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>购物车</title>
    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" type="text/css" href="css/animate.min.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/shop.css">
</head>
<body>
    <!--
1.MVVM: 数据驱动与双向数据绑定
2.组件
3.路由

    -->
    
    <!--头部header-->
    <header>
        <section id="h_top">
            <!--头部左边 登录/注册-->
            <div id="h_login">
                <img src="images/list/h_login.jpg" alt="">
                <div class="login">
                    <a href="login.html">登录</a>
                    <span>/</span>
                    <a href="registered1.html">注册</a>
                </div>
            </div>

            <!--头部中间logo部分-->
            <div id="h_logo">
                <h1>TOPLIFE</h1>
                <a href="index.html"><img src="images/list/h_logo.jpg" alt=""></a>
            </div>

            <!--头部右侧搜索/购物车-->
            <div id="h_search">
                <a href="#" id="search"><img src="images/list/h_search.jpg"></a>
                <a href="#" id="h_shop"><img src="images/list/h_shop.jpg"></a>
            </div>

        </section>
    </header>

    <!--搜索#search按钮 弹出框-->
    <article class="panel">
            <div>
                <img src="images/list/sear_logo.jpg">
                <div class="off"><span>X</span></div>
                <form action="">
                    <input type="text" placeholder="全站搜索" id="search_text">
                    <input type="image" src="images/index/h_search.jpg">
                </form>
            </div>
        </article>
    
        <!--购物车.h_shop 鼠标悬停后展示的块-->
        <article class="h_shop">
            <dl>
                <dt><img src="images/index/h_shopingcart.png" alt=""></dt>
                <dd>购物车中还没有商品，赶紧选购吧！</dd>
            </dl>
        </article>
    <!--右侧固定————返回顶部-->
    <article id="fixedTop">
        <div><a href="#top">&lt;</a></div>
    </article>

    



 <div id="app">
     <h1>购物车</h1>
    <!--  <div>
         <label>名称<input type="text" v-model="name" placeholder="输入商品..."></label><br />
         <label>价格<input type="text" v-model="price" placeholder="输入价格..."></label>
         <button @click="add">增加</button>
     </div> -->
     <div class="shop-sear">
         <label><input type="text" v-model="keyword" placeholder="输入商品名称..."></label>
         <button @click="search">搜索</button>
     </div>

     <ul id="list">
        <h2><a href="">—————————— · TOPLIFE 自营 · ——————————</a></h2>
         <li v-for="(product, index) in productList" :class="{red: product.isRed}">
             <!--stop: 阻止冒泡-->
             <span class="delAll">
                 <input type="checkbox" @click.stop="" v-model="checked" :value="index" id="input" @click="select(product)">
            </span> <!--:value="index"即 v-bind:value="index"-->
             
             <img :src="product.img" alt="">
             <span class="del" @click.stop="del(index)">删除</span>
             <span class="product-name"> {{product.name}}</span>
             <span class="col">{{product.color}}</span>
             <span class="product-price">￥{{product.price}}</span>
             <div class="reset_p" id="num">
                
                <p id="Add">
                    <span>数量：</span>
                    <a href="javascript:void(0);" class="addno">-</a>
                    <input type="text" value="1" id="val">
                    <a href="javascript:void(0);">+</a>
                </p>
            </div> 
         </li>
     </ul>
     <div id="total">
         <!-- 总价: {{total}} --><!--求总价的方法一-->
         <button @click="delAll">删除选中</button>
         <p>总价: <span>￥{{sum()}}</span></p>
         <button>去结算</button>
     </div>
 </div>  

<main>
    <h2>猜你喜欢</h2>
    <section>
        <dl aos="fade-up" aos-delay="100">
            <dt><a href="list.html"><img src="images/shop/like.jpg" alt=""></a></dt>
            <dd><a href="list.html">
                <h5>CHA LING</h5>
                <p>茶灵眼部精华</p>
                <p>¥640</p>
            </a></dd>
        </dl>
        <dl aos="fade-up" aos-delay="200">
            <dt><a href="list.html"><img src="images/shop/like2.jpg" alt=""></a></dt>
            <dd><a href="list.html">
                <h5>CHA LING</h5>
                <p>茶灵净颜套装</p>
                <p>¥568</p>
            </a></dd>
        </dl>
        <dl aos="fade-up" aos-delay="300">
            <dt><a href="list.html"><img src="images/shop/like3.jpg" alt=""></a></dt>
            <dd><a href="list.html">
                <h5>CHA LING</h5>
                <p>茶灵滋养面霜</p>
                <p>¥710</p>
            </a></dd>
        </dl>
        <dl aos="fade-up" aos-delay="400">
            <dt><a href="list.html"><img src="images/shop/like4.jpg" alt=""></a></dt>
            <dd><a href="list.html">
                <h5>CHA LING</h5>
                <p>茶灵眼部精华</p>
                <p>¥640</p>
            </a></dd>
        </dl>
        <dl aos="fade-up" aos-delay="500">
            <dt><a href="list.html"><img src="images/shop/like5.jpg" alt=""></a></dt>
            <dd><a href="list.html">
                <h5>CHA LING</h5>
                <p>男士阔型运动鞋 白色/黑色 欧洲码</p>
                <p> ¥3,800</p>
            </a></dd>
        </dl>
    </section>
</main>
 <footer>
    <section id="foot-img">
        <img src="images/index/footer-nav.jpg" alt="" aos="zoom-out-down">
    </section>
    <section id="foot-con">
        <dl>
            <dt>
                <a href=""><img src="images/index/toplife_wb@1x.png" alt="" aos="fade-right"></a>
                <a href=""><img src="images/index/toplife_wx@1x.png" alt="" aos="fade-left"></a>
            </dt>
            <dd>
                <h5 aos="fade-down">欢迎关注TOPLIFE微信、微博公众平台，开启您的品质生活 </h5>
                <p aos="fade-up">YOU ARE WARMLY INVITED TO FOLLOW OUR WEIBO & WECHAT, EXPLORING A TOPLIFE</p>
            </dd>
        </dl>
        <div id="wings">
            <img src="images/index/footer_main_left.png" alt="" class="wings-l">
            <img src="images/index/footer_main_right.png" alt="" class="wings-r">
        </div>

        <nav id="fcon-nav">
            <ul>
                <li aos="fade-up">
                    <h5>使用帮助</h5>
                    <p><a href="">帮助中心</a></p>
                </li>
                <li aos="fade-up">
                    <h5>特色服务</h5>
                    <p><a href="">京尊达</a></p>
                    <p><a href="">多样化支付</a></p>
                    <p><a href="">24小时时尚顾问</a></p>
                </li>
                <li aos="fade-up">
                    <h5>关于我们</h5>
                    <p><a href="">TOPLIFE介绍</a></p>
                    <p><a href="">联系我们</a></p>
                    <p><a href="">隐私政策</a></p>
                    <p><a href="">用户注册协议</a></p>
                </li>
            </ul>
        </nav>
    </section>
    <section id="foot-f">
        <ul>
            <li>
                <img src="images/index/icon_icp.png">
                <span>京公网安备11030102010414号</span>
            </li>
            <li><a href="index.html"><img src="images/index/footer_logo.jpg" alt=""></a></li>
            <li>
                <p>ICP备案号 &nbsp;| &nbsp;Copyright © *** 版权所有 &nbsp;&nbsp;
                    <a href="">经营证照</a>
                </p>
            </li>
        </ul>
    </section>
</footer>

 
<!--jquery框架-->

<script src="js/aos.js"></script>
<script src="js/jquery3.3.1.min.js"></script>
    <script src="js/index.jquery.js"></script>
 <script src="js/vue.js"></script>
 <script src="js/shop.js"></script> 
 <!--aos-->
 <script>
     $("h1").on('click', function (e) {
         $("html,body").animate({
             scrollTop: $(window).height()
         }, 1000);
     });
     AOS.init({
         easing: 'ease-out-back',
         duration: 1000
     });

 </script>
</body>
</html>